/*  @import '~bootstrap/scss/bootstrap.min.css';
@import './common.css'; */


body {
    min-height: 100vh;
    color: var(--color-text);
    /* ackground: var(--color-background); */
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
#app {
  min-height: 100vh;
  min-width: 100vh;
}
.app-container {
  min-height: 100vh;
  min-width: 100vh;
}
.sidebar {
  min-height: 100vh;
}
.router-view{
  min-height: 100vh;
  min-width: 100vh;
}

/* @font-face {
  font-family: "ArgentPixelCF";
  src: local("ArgentPixelCF"),
   url(./fonts/Argent_Pixel_CF/Webfont/ArgentPixelCF-Italic.woff) format("truetype");
} */